/*
colores de bootstrap
https://mdbootstrap.com/docs/standard/content-styles/colors/

*/
/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@200&display=swap');

/*font-family: 'Josefin Sans', sans-serif;*/
/*    font-family: 'JetBrains Mono', monospace;*/

body {
    background: #EDE7F6;
    margin: 0;
    padding: 20px;
   /* margin-bottom: 20px;*/
  }
  .page {
    background: #B39DDB;
    display: flex;
    flex-direction: column;
    height: calc(100% - 40px);
    position: absolute;
    place-content: center;
    width: calc(100% - 40px);
  } 
  
  .container {
    display: flex;
    height: 30em;
    margin: 0 auto;
    width: 640px;
  }
  
  
  .left {
      background: white;
      height: calc(100% - 40px);
      top: 20px;
      position: relative;
      width: 50%;
    }
  
  .register {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 50px;
    font-weight: 900;
    margin: 132px 29px 33px; /*Centrar la caja izquierda */
  }

  .eula {
    font-family: 'JetBrains Mono', monospace;
    color: #999;
    font-size: 13px;
    line-height: 1.5;
    text-align: center;
  }

  .right {
    background: #474A59;
    box-shadow: 0px 0px 40px 16px rgba(0,0,0,0.22);
    color: #F1F1F2;
    position: relative;
    width: 100%;
    /*height: 29em;*/
  }
  
  
  .form {
    margin: 20px;
    position: absolute;
  }

  select{

    font-family: 'JetBrains Mono', monospace;
    text-align: center;
    font-size: 20px;
    height: 30px;
    width: 100%;
    line-height: 30px;
    color: black;
    background-color: #EDE7F6;
    border: 0;
    border-radius: 10px;
    outline: none;
    margin-top: 8%;
    opacity: 70%;
    
  
  }


  label {
   
    font-family: 'JetBrains Mono', monospace;
    color:  #c2c2c5;
    display: block;
    font-size: 14px;
    height: 16px;
    margin-top: 20px;
    margin-bottom: 5px;
    text-align: center;
  }
  
  /*Todos los input*/
  /*
  input {
    border: 0;
    color: #f2f2f2;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none;
    width: 100%;
    border-radius: 10px;

 
  }
  */
  
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }
  
  input[type="text"]
  {
    width: 95%;
      border: 0;
      border-bottom: 2px solid #EDE7F6;
      outline: 0;
  }
  
  
  input[type="password"]
  {
    width: 95%;
      border: 0;
      border-bottom: 2px solid #EDE7F6;
      outline: 0;
  }

  input[type="email"]
  {
    width: 95%;
      border: 0;
      border-bottom: 2px solid #EDE7F6;
      outline: 0;
  }

   
  input[type="submit"] {
    font-family: 'JetBrains Mono', monospace;
    border: 0;
    font-size: 20px;
    height: 30px;
    line-height: 30px;
    outline: none;
    width: 100%;
    border-radius: 10px;
    background-color: #EDE7F6;
    
    color: #707075;
    margin-top: 20px;
    border-radius: 10px;
  }

  input[type="button"] {
    
    width: 60%;
    border-radius: 10px;
    background-color: #EDE7F6;
  }

 
  /*-------------------------------------------------------------------------------------------*/
  @media screen and (max-width: 600px) {
  
    body{
      margin: 0%;
      padding: 0%;
    }

    .register {
      font-family: 'Josefin Sans', sans-serif;
      font-size: 31px;
      font-weight: 900;
      margin: 133px 34px 30px;
    }
  

.left{
  margin: 20px;
  background: white;
  width: 30%;

}

#continuar{
  width: 60%;
  border-radius: 10px;
  background-color: #EDE7F6;

}

.right {
visibility: hidden;
}


  }
