
body{
    background-color: #F3E5F5  !important;
}

h1{
    text-align: center;
}
select {
   margin-left: 9%;
    width: 35%;
    margin: 5%;
  /*  transform: translateX(100px);*/

}
.carouseandSelect{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
}
.principalSC{
    width: 50%;
    position: relative;
}
#myCarousel{
    position: absolute;
    width: 40%;
    height: 15em;
    left: 27%;
    margin-left: 70%;
    background: url(../assets/HojaOto.jpg);
    /*
    background: -webkit-linear-gradient(to right, #b882ce, #5fa1ca);
    background: linear-gradient(to right, #b882ce, #5fa1ca);
    */
    
}
.mensaje{
    color: black;
    margin-top: 8%;
    margin-top: 22%;
    text-align: center;
}

/*Boton de like*/
.btn-counter span{
    color: #ff0000;
    margin-left: 20%;
}
/*links de crear mensajes,mensajes aprobados,no aprobados*/
#links{
    width: 50%;
    margin: 10%;
    height: 15em;
}
input#links{
    margin: 2%;
}



#imgArbol{

    width: 56.6%;


}

/*Botones que te llevan al curso*/
/*
.boton_curso{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #9556b3;
    border-radius: 50px;
    border: 2px solid #9556b3;
}
.boton_curso:hover{
    transform: scale(2.5);
    background-color: #2c2430;
    border-radius:0px;
}
*/
#mensajeNoAprobados, #mensajeAprobados, #crearMensaje{
    width: 100%;
}
/*Botones del arbol*/
.btn1{
    position: absolute;
    display: inline-block;
    cursor: pointer;
    transform: translate(37px, 69px);
    z-index: 1;
}

.btn2{
    position: absolute;
    transform: translate(106px , 88px);
    z-index: 1;
}
.btn3{
    position: absolute;
    transform: translate(192px , 95px);
    z-index: 1;
}
.btn4{
    position: absolute;
    transform: translate(361px , 73px);

    z-index: 1;
}
.btn5{
    position: absolute;
    transform: translate(441px , 140px);
    z-index: 1;
}

.btn6{
    position: absolute;
   transform:  translate(441px , 195px);
    z-index: 1;
}

.btn7{
    position: absolute;
    transform: translate(-6px , 159px);
    z-index: 1;
}
.btn8{
    position: absolute;
    transform: translate(-58px , 240px);
    z-index: 1;
}
.btn9{
    position: absolute;
    transform: translate(84px, 114px);
    z-index: 1;

}
.btn10{  
    position: absolute;
    transform: translate(41px, 175px);
    z-index: 1;

}
/*
.btn11{
    transform: translate(-313px, 255px);
    z-index: 1;
}
.btn12{
    transform: translate(-192px, 195px);
    z-index: 1;
}
.btn13{
    transform: translate(-215px, 364px);
   z-index: 1;
}
.btn14{
    transform: translate(-212px, 232px);
    z-index: 1;
}
.btn15{
    transform: translate(-593px, 361px);
    z-index: 1;
}
.btn16{
    transform: translate(-602px, 417px);
    z-index: 1;
}
.btn17{
  
    transform: translate(-565px, 312px);
    z-index: 1;
}
.btn18{
    transform: translate(-612px, 461px);
    z-index: 1;
}
.btn19{
  transform: translate(-414px, 362px);
    z-index: 1;
}

.btn20{
    transform: translate(43px, 495px);
    z-index: 1;
}

.btn21{
  
    transform: translate(-565px, 312px);
    z-index: 1;
}
*/




/* Mensaje actual */
.btn1 .mensajeUsuario {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Muestra el deseo del usuario*/
.btn1 .mensajeUsuario::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.btn1 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: animacionBoton 1s
}

/* Animación del boton */
@-webkit-keyframes animacionBoton {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes animacionBoton {
    from {opacity: 0;}
    to {opacity:1 ;}
}