body{
    background-color: #F3E5F5  !important;
}

h1{
    text-align: center;
}
select{
   margin-left: 9%;
    width: 35%;
    margin: 5%;
}

.carouseandSelect{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
}
#myCarousel{
  
    position: absolute;
    width: 46% ;
    height: 20em ;
    height: 17em ;
    left: 4% ;
    margin-left: 90%;
    background: -webkit-linear-gradient(to right, #b882ce, #5fa1ca);
    background: linear-gradient(to right, #b882ce, #5fa1ca);
}
#links{
    width:50%;
    margin: 23%;
    margin-top: 39%;
}
 
    /*mensaje del deseo--> ahora es un lorem*/
.mensaje{
    color: black;
    margin-top: 8%;
    margin-top: 22%;
    text-align: center;
}
/*Corazon de like*/
.btn-counter span{
    color: #ff0000;
    margin-left: 20%;
}



#mensajeNoAprobados,
 #mensajeAprobados, 
 #crearMensaje{
    width: 100%;
}


#imgArbol{
    position: absolute;
    margin-top: 4%;
    width: 50%;

    animation: hojas 3s infinite;
    animation-direction: normal;
    animation-play-state: running;
}



/*Post IT*/
#crearMensaje{
    color: #EFEFEF;
   /* width: 408px;*/
    height: 173px;
    background-size: 100% 100%;
   /* animation:flex-grow 0.25s;*/
    animation: postItanimacion 0.8s infinite;
   animation-direction: normal;
    animation-play-state: paused;

}
.postIt:hover{
    animation-play-state: running;
}

@keyframes postItanimacion {

    0% , 10%{

        background-image: url(/Raimon3-1/view/assets/1.png);
    }
    11%,19%{
        background-image: url(/Raimon3-1/view/assets/2.png);
        
    }
    20%, 30%{
        background-image: url(/Raimon3-1/view/assets/3.png);
        
    }
    31%,40%{
        background-image: url(/Raimon3-1/view/assets/4.png);
       
    }
    
    41%,50%{
        background-image: url(/Raimon3-1/view/assets/5.png);
        
    }
    51%,60%{
        background-image: url(/Raimon3-1/view/assets/6.png);
    }
    61%,70%{
        background-image: url(/Raimon3-1/view/assets/7.png);
    }
    71%,80%{
        background-image: url(/Raimon3-1/view/assets/8.png);
    }
    81%,90% {
        background-image: url(/Raimon3-1/view/assets/9.png);
    }
    91%,96%{
        background-image: url(/Raimon3-1/view/assets/10.png);
    }
    97%,100%{
        background-image: url(/Raimon3-1/view/assets/11.png);
    }


}
