
body{
    background-color: #F3E5F5  !important;
}

h1{
    text-align: center;
}
select{
   margin-left: 9%;
    width: 35%;
    margin: 5%;
  /*  transform: translateX(100px);*/

}
.carouseandSelect{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
}
.principalSC{
    width: 50%;
    position: relative;
}
#myCarousel{
    position: absolute;
    width: 46% ;
    height: 20em ;
    height: 17em ;
    left: 4% ;
    margin-left: 90%;
    background: url(../assets/HojaOto.jpg);
    /*
    background: -webkit-linear-gradient(to right, #b882ce, #5fa1ca);
    background: linear-gradient(to right, #b882ce, #5fa1ca);
    */
    
}
.mensaje{
    color: black;
    margin-top: 8%;
    margin-top: 22%;
    text-align: center;
}

/*Boton de like*/
.btn-counter span{
    color: #ff0000;
    margin-left: 20%;
}
/*links de crear mensajes,mensajes aprobados,no aprobados*/
#links{
    width: 50%;
    margin: 10%;
    height: 15em;
}
input#links{
    margin: 2%;
}



#imgArbol{
    width: 58.6%;



}

/*Botones que te llevan al curso*/

.boton_curso{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #9556b3;
    border-radius: 50px;
    border: 2px solid #9556b3;
}
.boton_curso:hover{
    transform: scale(2.5);
    background-color: #2c2430;
    border-radius:0px;
}

#mensajeNoAprobados, #mensajeAprobados, #crearMensaje{
    width: 100%;
}
/*Botones del arbol*/
.btn1{
    position: relative;
    display: inline-block;
    cursor: pointer;
    top: 59px;
    left: 35px;
}

.btn2{
    position: relative;
    top: 81px;
    left: 58px;
}
.btn3{
    position: relative;
    top: 86px;
    left: 98px;
}
/*
.btn4{
    position: absolute;
    transform: translate(373px , 52px);
    z-index: 1;
}
.btn5{
    position: absolute;
    transform: translate(452px , 123px);
    z-index: 1;
}

.btn6{
    position: absolute;
   transform:  translate(441px , 195px);
    z-index: 1;
}

.btn7{
    position: absolute;
    transform: translate(32px , 139px);
    z-index: 1;
}
.btn8{
    position: absolute;
    transform: translate(36px , 241px);
    z-index: 1;
}
.btn9{
    position: absolute;
    transform: translate(93px, 210px);
    z-index: 1;

}

.btn10{  
    position: absolute;
    transform: translate(154px, 193px);
    z-index: 1;

}

.btn11{
    position: absolute;
    transform: translate(153px, 258px);
    z-index: 1;
}

.btn12{
    position: absolute;
    transform: translate(319px, 206px);
    z-index: 1;
}

.btn13{
    position: absolute;
    transform: translate(337px, 364px);
    z-index: 1;
}

.btn14{
    position: absolute;
    transform: translate(386px, 229px);
    z-index: 1;
}

.btn15{
    position: absolute;
    transform: translate(54px, 356px);
    z-index: 1;
}
.btn16{
    position: absolute;
    transform: translate(87px, 415px);
    z-index: 1;
}

.btn17{
    position: absolute;
    transform: translate(-565px, 312px);
    z-index: 1;
}
.btn18{
    position: absolute;
    transform: translate(-612px, 461px);
    z-index: 1;
}
.btn19{
    position: absolute;
  transform: translate(-414px, 362px);
    z-index: 1;
}

.btn20{
    position: absolute;
    transform: translate(43px, 495px);
    z-index: 1;
}

.btn21{
      position: absolute;  
    transform: translate(-565px, 312px);
    z-index: 1;
}
.btn22{
      position: absolute;  
    transform: translate(-565px, 312px);
    z-index: 1;
}
.btn23{
      position: absolute;  
    transform: translate(-565px, 312px);
    z-index: 1;
}
.btn24{
      position: absolute;  
    transform: translate(-565px, 312px);
    z-index: 1;
}
.btn25{
      position: absolute;  
    transform: translate(-565px, 312px);
    z-index: 1;
}
*/



/* Mensaje actual */

.btn1 .mensajeUsuario {
    visibility: hidden;
    width: 160px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
}

/* Muestra el deseo del usuario*/

.btn1 .mensajeUsuario::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}


.btn1 .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: animacionBoton 1s
}

/* Animación del boton */

@-webkit-keyframes animacionBoton {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes animacionBoton {
    from {opacity: 0;}
    to {opacity:1 ;}
}

@media  screen and (min-width: 360px){
body{
    margin: 0%;
}

#imgArbol{
    width: 122%;
    margin-top: 9%;
     
} 
#myCarousel{
    position: absolute;
    width: 48%;
    height: 16em;
    left: 20%;
    margin-left: 70%;
}
select{
    width: 57%;
    transform: translate(96px, 54px);
    
 
 }
#mensajeNoAprobados, #mensajeAprobados, #crearMensaje{
    width: 100%;
}


#links {
    display: flex;
    position: absolute;
    margin-top: 21%;
    height: 8em;
    width: 120% ;
    transform: translate(-550px, -88px);
}
    

.btn1{
    position: relative;
    font-size: 37px;
    display: inline-block;
    cursor: pointer;
    top: 385px;
    left: 60px;
    font-weight: 649px;
    
}

.btn2{
    position: relative;
    font-size: 37px;
    top: 392px;
    left: 76px;

}
.btn3{
    position: relative;
    font-size: 37px;
    top: 407px;
    left: 123px; 
   
}
.btn4{
    position: relative;
    font-size: 37px;
    top: 381px;
    left: 290px; 
    
}
.btn5{
    
    position: relative;
    font-size: 37px;
    top: 1433px;
    left: 199px;
}
.btn6{
    position: relative;
    font-size: 37px;
    top: 646px;
    left: -410px;
    
}
.btn7{
    position: relative;
    font-size: 37px;
    top: 602px;
    left: -406px;
}
.btn8{
    position: relative;
    font-size: 37px;
    top: 646px;
    left: -410px;
    
}
.btn9{
    position: relative;
    font-size: 37px;
    top: 448px;
    left: 643px;
}
.btn10{
    position: relative;
    font-size: 37px;
    top: 566px;
    left: 562px;
}
.btn11{
    position: relative;
    font-size: 37px;
    top: 561px;
    left: 16px;
}
.btn12{
    position: relative;
    font-size: 37px;
    top: 651px;
    left: -90px;

}

.btn13{
    position: relative;
    font-size: 37px;
    top: 572px;
    left: 75px;
}
.btn14{
    position: relative;
    font-size: 37px;
    top: 588px;
    left: 95px;
}
.btn15{
    position: relative;
    font-size: 37px;
    top: 787px;
    left: 539px;
}
.btn16{
    position: relative;
    font-size: 37px;
    top: 766px;
    left: -29px;
}
.btn17{
    position: relative;
    font-size: 37px;
    top: 840px;
    left: -29px;
}
.btn18{
    position: relative;
    font-size: 37px;
    top: 692px;
    left: 8px;
}
.btn19{
    position: relative;
    font-size: 37px;
    top: 922px;
    left: -81px;
}
.btn20{
    position: relative;
    font-size: 37px;
    top: 781px;
    left: 220px;
}
.btn21{
    position: relative;
    font-size: 37px;
    top: 878px;
    left: 204px;
}
.btn22{
    position: relative;
    font-size: 37px;
    top: 913px;
    left: 56px;
}

.btn23{
    position: relative;
    font-size: 37px;
    top: 1002px;
    left: 55px;
}
.btn24{
    position: relative;
    font-size: 37px;
    top: 1002px;
    left: 112px;
}
.btn25{
    position: relative;
    font-size: 37px;
    top: 902px;
    left: 375px;
}
.btn26{
    position: relative;
    font-size: 37px;
    top: 999px;
    left: 203px;
}
.btn27{
    position: relative;
    font-size: 37px;
    top: 1089px;
    left: -223px;

}
.btn28{
    position: relative;
    font-size: 37px;
    top: 979px;
    left: 180px;
}

.btn29{
    position: relative;
    font-size: 37px;
    top: 1092px;
    left: 632px;
}
.btn30{
    position: relative;
    font-size: 37px;
    top:1112px;
    left:429px;
}

.btn31{
    position: relative;
    font-size: 37px;
    top: 1169px;
    left: -49px;
}



}


