#myCarouselCustom{

width: 40%;
float: right;
margin-right: 5%;


}
.carousel-inner {
    position: relative;
    width: 10%;
    height: 10em;
    overflow: hidden;

    
}

 .active{
     background-color: black;
     color: white;
     width: 40%;
     border-radius:solid 2px black;
     font-size: 1em;
     margin-left: 13%;
     margin-top: 2%;

 }

 #kalpataru {
     border: 2px;
     border-radius: 10%;
     border-color: #8b419d;
     width: 500px;
     height: 500px;
 }