html{
    margin: 10%;
    background-color: #E8EAF6;

}
h1{
    background:#E8EAF6;
    text-align: center;
}
select {
    margin-left: 9%;
    width: 35%;
}
.carouseandSelect{
    display: flex;
    flex-direction: column;
    width: 70%;
    position: absolute;
}

.principalSC{
width: 50%;
position: relative;

}

#myCarousel{
    position: absolute;
    width: 40%;
    height: 15em;
    margin-left: 70%;
    background: -webkit-linear-gradient(to right, #b882ce, #5fa1ca);
    background: linear-gradient(to right, #b882ce, #5fa1ca);

}

.mensaje{
    
    color: black;
    margin-top: 8%;
    margin-top: 22%;
    text-align: center;

   }

/*
    .carousel-inner {
        position: relative;
        width: 10% ;
        height: 10em;
        overflow: hidden;

    }
    .carousel-indicators {
        bottom: 10%;
    }
    
     .active{ 
         width: 40%;
         border-radius:solid 2px black;
         font-size: 1em;
         margin-left: 29%;
     }

 
 */
img{
    padding: 10px; 
    width: 70%;
    height: 50em;

}

/*Boton de like*/
.btn-counter span{
    color: #ff0000;
    margin-left: 20%;
}
 

/*links de crear mensajes,mensajes aprobados,no aprobados*/
.links{
    width: 50%;
    margin: 10%;
    height: 15em;
   
}
    


