<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tipografias</title>
    <link rel="stylesheet" href="tipografias.css">

</head>
<body>
    <p class="Scheherazade">Scheherazade New</p>
    <p class="Italianno">Italianno</p>
    <p class="IMFellEnglishSC">IM Fell English SC</p>
    <p class="Lobster">Lobster</p>
    <p class="Anton">Anton</p>
    <p class="Dancing">Dancing Script</p>
    <p class="Architects">Architects Daughter</p>
    <p class="Pacifico">Pacifico</p>
    <p class="IndieFlower">Indie Flower</p>
    <p class="SairaCondensed">Saira Condensed</p>
    <p class="ShadowsIntoLight">Shadows Into Light</p>
</body>
</html>